h1{
    background-color: rgb(214, 219, 219);
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    
}


.input-class{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
}


input{
    margin: 20px;
    
}


.btn{
    border-radius: 5px;
    border: 1px solid black;
    width: 3.5rem;
    height: 2rem;
    background-color: cyan;
    cursor: pointer;
}
button{
    border-radius: 5px;
    margin: 20px;
    gap: 5px;
    border: 1px solid black;
    width: 6rem;
    height: 2rem;
    background-color: cyan;
    cursor: pointer;
}


.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}


